 <!-- Sidebar -->
 <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="" [routerLink]="['/home']">
      <div class="sidebar-brand-icon rotate-n-15">
          <img style="margin-left: 5px; height: 55px;" src="https://www.clipartmax.com/png/full/61-613104_auto-repair-shop-transmission-service-alignments-car-repair-icon.png"/>
      </div>
      <div class="sidebar-brand-text mx-3">Servicio Mecanico<sup></sup></div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
      <a class="nav-link" href="" [routerLink]="['/home']">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
      MANTENEDORES
    </div>

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item">
      <a class="nav-link collapsed" (click)="ListarCliente()" href="" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
        <i class="fas fa-user"></i>
        <span>Clientes</span>
      </a>
      
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
      <a class="nav-link collapsed" (click)="ListarPersonal()" href="" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
        <i class="fas fa-user"></i>
        <span>Personal</span>
      </a>
      
    </li>

    <!-- Nav Item - Utilities Collapse Menu -->
    
    <li class="nav-item">
        <a class="nav-link collapsed" (click)="ListarServicio()" href="" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-newspaper"></i>
          <span>Servicio</span>
        </a>
        
      </li>
    
    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
      Addons
    </div>
    

    <!-- Nav Item - Tables -->
    <li class="nav-item">
      <a class="nav-link collapsed" (click)="NuevaCotizacion()"  href="" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities" >
        <i class="fas fa-hand-holding-usd"></i>
        <span>Nueva Cotizacion</span></a>
    </li>

    <!-- Nav Item - Cotizacion -->
    <li class="nav-item">
      <a class="nav-link collapsed" (click)="ReportarCotizacion()"  href="" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities" >
        <i class="fas fa-align-justify"></i>
        <span>Reportar Cotizacion</span></a>
    </li>

    <div *ngIf="user.role =='ADMIN'">
      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Nav Item - Charts -->
      <li class="nav-item" >
        <a class="nav-link collapsed"  href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
          <i class="fas fa-user-shield"></i>
          <span>Administrador</span></a>
          <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
              <a class="collapse-item" [routerLink]="['/signup']" href="" >Registrar Usuario</a>
              <a class="collapse-item" [routerLink]="['/admindashboard']"  href="" >Listar Usuario</a>
            </div>
          </div>
        </li>
      </div>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

  </ul>
  <!-- End of Sidebar -->