<div id="wrapper">
    <app-sidebar></app-sidebar>
    <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
          <app-topbar></app-topbar>


<div class="container">
    <div class="card">
        <div class="card-header">
            <h3> Personal <i class="fas fa-user"></i></h3>
            <button (click)="NuevoPersonal()" style="margin-left: 895px;" class="btn btn-primary">Agregar Personal</button>
        </div>
        
        <div class="card-body">
            <table class="table table-hover">
                <thead>
                    <tr class="text-center">
                        <th>ID</th>
                        <th>Apellidos</th>
                        <th>Nombre</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let personal of personals" class="text-center">
                        <td>{{personal.personal_id}}</td>
						<td>{{personal.apellidos}}</td>
                        <td>{{personal.nombre}}</td>
						<td><button (click)="EditarPersonal(personal)" class="btn btn-info" >Editar</button>
                            <button (click)="showModalDelete(personal)" class="btn btn-danger"  style="margin-left: 10px;">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


</div> 
<app-footer></app-footer>
</div>
</div>
<a class="scroll-to-top rounded" href="#page-top">
<i class="fas fa-angle-up"></i>
</a>
<app-logout-modal></app-logout-modal>